[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Charakterystyka regulacyjna
Type=Link
URL=http://zseii.edu.pl/archive/dydaktyka/maszyny/charak_regul.htm
Icon=text-html
